* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  margin: 0;
}

main {
  margin: 0 auto;
  width: 1002px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 1em;
}

svg {
  z-index: 10;
  position: absolute;
  width: 24px;
  height: 24px;
}

textarea {
  width: 100%;
}

.scroller-y {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
}

.scroller-x {
  max-width: 90vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper {
  position: relative;
  background-color: #fff;
  width: 1002px;
  height: 1002px;
  border: 1px solid #888;
}

.controls {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1em;
  margin: 1em 0;
}

.controls > * {
  border: 1px solid #888;
  border-radius: 0;
}

#reset {
  background-color: #81C784;
  border-color: #1B5E20;
}

#output {
  margin-top: 1em;
  border: 1px solid #888;
  font-family: monospace;
  background-color: #fff;
  flex: 1;
  overflow-y: auto;
  min-height: 100px;
}

#output>div {
  border-bottom: 1px solid #888;
  padding: 4px;
}

#output>div:last-child {
  margin-bottom: 4px;
}

#output:empty::after {
  content: 'Output will appear here';
  display: block;
  border-bottom: 1px solid #888;
  padding: 4px;
  color: #616161;
}

.msg {
  background-color: #b2ebf2;
}

.error {
  background-color: #ffcdd2;
}